.scoreHolder {
  grid-template-columns: 7fr 1fr;
  display: grid;
}

.pictureHolder {
  img {
    height: 200px;
    width: 125px;
  }
  text-align: center;
}

.pictureGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
