.cap {
    text-transform: capitalize;
}

.weatherBox {
    text-align: center;
    color: gold;
    height: calc(100vh - 76px);
    min-height: 100%;
    background-color: black;
}

@media screen and (max-height: 402px) {
    .weatherBox {
        height: 100%;
    }
}
