.banner {
  color: blue;
  text-align: center;
}

.terminalBox {
  color: gold;
  /* height: calc(100vh - 76px);
  min-height: 100%; */
  min-height: 100vh;
  background-color: black;
}

.terminal {
  background-color: transparent;
  color: white;
  border: none;
  width: 80%;
  height: 200px;
  text-wrap: wrap;
}

.terminalLabel {
  /* width: 100%; */
  /* border: 2px solid red; */
  color: green;
}

.greyText {
  color: grey;
}

.blueText {
  color: blue;
}

.redText {
  color: red;
}

.outputText {
  text-wrap: wrap;
}

/* @media screen and (max-height: 402px) {
  .terminalBox {
    height: 100%;
  }
} */
