.banner {
  color: blue;
  text-align: center;
  background-color: black;
}

.terminalBox {
  color: light-dark(black, gold) sd;
  /* min-height: 100vh; */
  /* background-color: black; */
}

.terminal {
  background-color: transparent;
  color: light-dark(black, white);
  border: none;
  width: 80%;
  height: 200px;
  text-wrap: wrap;
  caret-color: green;
}

.terminalLabel {
  color: green;
}

.greyText {
  color: grey;
}

.blueText {
  color: blue;
}

.redText {
  color: red;
}

.outputText {
  text-wrap: wrap;
}

.whiteText {
  color: white;
}
